node_modules/
*/node_modules/
.expo/
*/.expo/

dist/
*/dist/
coverage/
*/coverage/

*.log
expo-start*.log
yarn-error.log
yarn-debug.log
npm-debug.log*

.env
*/.env
.env.local
*/.env.local

.DS_Store
Thumbs.db
